
.arrow {
  font-size: 1.8rem !important;
  border-radius: 50% !important;
  width: 65px;
  height: 65px;
  border-color: white !important;
  border-width: 5px !important;
}

.svg-icons {
  transform: scale(0.7);
  margin: 8px 6px 8px 6px;
}

.facebook-icon {
  background: url(../../assets/facebook.svg) no-repeat 50%;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.youtube-icon {
  background: url(../../assets/youtube.svg) no-repeat 50%;
  width: 15px;
  height: 15px;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 5px;
}

.icon {
  background-size: 100%;
  color: #fff;
  display: inline-block;
  vertical-align: top;
}

input[type='checkbox'] {
  width: 14px !important;
  height: 14px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid white;
  border-radius: 20%;
  box-shadow: none;
  font-size: 2em;
  vertical-align: middle;
  outline: transparent;
}

input[type='checkbox']:checked {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -o-appearance: checkbox;
}

input[type='radio'] {
  width: 15px !important;
  height: 15px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: none;
  font-size: 2em;
  vertical-align: middle;
  outline: transparent;
}

input[type='radio']:checked {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  -o-appearance: radio;
}
