body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root, #app{
  height: 100%;
  min-height: 100%;
  width:100%;
  min-width: 100%;
  overflow: auto;
}

.text-light {
    color: #dee6ed;
}

.text-black{
  color: black;
}

.text-white{
  color:white;
}

.text-orange{
  color: #fa8a22;
}

input[type='text'] {
  color: #fa8a22;
}

input.input-orange {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fa8a22;
  width: 100%;
}

input[type='text']:focus {
  color: #fa8a22 !important;
}

input.input-orange::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fa8a22;
  opacity: 1; /* Firefox */
}

hr {
  height: 1px;
  color: #8c8c8c;
  background-color: #8c8c8c;
  border: none;
}

.border-bottom-orange{
  border-bottom: 1px solid #fa8a22;
  width: 100%;
  margin-bottom: 20px;
  margin-top:-10px;
}

.title-top{
  padding-top:100px;
  padding-bottom: 10px;
}

.push-down{
  margin-bottom:3px;
}

.space-above{
  padding-top:100px;
}

.text-small{
  font-size: 0.7rem;
}

.svg-icons {
  transform: scale(0.7);
  /*margin: 8px 6px 8px 6px;*/
}

.radio-label{
  margin-left: 10px;
}

.mb-20{
  margin-bottom: 20px;
}

.mt-20{
  margin-top:20px;
}

.SocialMediaShareButton{
  margin:5px;
  outline: none;
}

/*
input[type='checkbox'] {
  width: 14px !important;
  height: 14px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid white;
  border-radius: 20%;
  box-shadow: none;
  font-size: 2em;
  vertical-align: middle;
  outline: transparent;
}

input[type='checkbox']:checked {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -o-appearance: checkbox;
}

input[type='radio'] {
  width: 15px !important;
  height: 15px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: none;
  font-size: 2em;
  vertical-align: middle;
  outline: transparent;
}

input[type='radio']:checked {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  -o-appearance: radio;
}
*/

.pretty .state label:after, .pretty .state label:before{
  top: 0 !important;
}

.mdi{
  margin-top:8px;
}