body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root,
#app {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  overflow: auto;
}

.text-light {
  color: #dee6ed;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-orange {
  color: #fa8a22;
}

input[type='text'] {
  color: #fa8a22;
}

input.input-orange {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fa8a22;
  width: 100%;
}

input[type='text']:focus {
  color: #fa8a22 !important;
}

input.input-orange::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fa8a22;
  opacity: 1; /* Firefox */
}

hr {
  height: 1px;
  color: #8c8c8c;
  background-color: #8c8c8c;
  border: none;
  width: 100%;
}

.border-bottom-orange {
  border-bottom: 1px solid #fa8a22;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -10px;
}

.title-top {
  padding-top: 60px;
  padding-bottom: 10px;
}

.push-down {
  margin-bottom: 3px;
}

.space-above {
  padding-top: 100px;
}

.text-small {
  font-size: 0.7rem;
}

.text-medium {
  font-size: 0.9rem;
}

.svg-icons {
  transform: scale(0.7);
  margin: 8px 6px 8px 6px;
}

.svg-icons-big {
  margin: 8px 15px 8px 6px;
}

.facebook-icon {
  margin-left: -3px;
}

.label {
  margin-left: 10px;
}

.icon{
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.SocialMediaShareButton {
  margin: 5px;
  outline: none;
}

input[type='checkbox'] {
  width: 14px !important;
  height: 14px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid white;
  border-radius: 20%;
  box-shadow: none;
  font-size: 2em;
  vertical-align: middle;
  outline: transparent;
}

input[type='checkbox']:checked {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -o-appearance: checkbox;
}

input[type='radio'] {
  width: 15px !important;
  height: 15px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: none;
  font-size: 2em;
  vertical-align: middle;
  outline: transparent;
}

input[type='radio']:checked {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  -o-appearance: radio;
}

.button-bottom {
  position: absolute !important;
  bottom: -30px !important;
  left: 0;
}

.text-bottom {
  position: absolute !important;
  bottom: 30px !important;
  left: 0;
}


.bottom-div {
  height: 100px;
  position: relative;
}


.navbutton {
  border-color: white !important;
  border-width: 5px !important;
}

.cloudinary-logo-with-text {
  background: url(./assets/logo-with-text.svg) no-repeat 50%;
  width: 100%;
  height: 55px;
}

#stop-button,
.button-orange {
  background-color: #fa8a22;
}

#stop-button:hover,
#stop-button:target,
.button-orange:hover,
.button-orange:focus,
.button-orange:target {
  background-color: #f97a22;
}

.bold {
  font-weight: bold;
}

.call-to-action {
  border-bottom: #8c8c8c 1px solid;
  height: 60px;
  cursor: pointer;
}

.call-to-action-top {
  border-top: #8c8c8c 1px solid;
}

.call-to-action:hover {
  border-bottom: #8c8c8c 1px solid;
  background-color: rgb(50, 60, 90, 0.6);
}

.sign-up-container {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: rgb(50, 60, 90, 0.6);
  right: 0px;
  padding: 40px;
  padding-bottom: 50px;
  font-size: 0.8rem;
}

.modal-share {
  background-color: rgb(50, 60, 90) !important;
  margin-top: 185px;
}

.spinner-size {
  width: 60px;
  height: 60px;
}

.social-input-container {
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: 30px auto;
  padding: 5px;
  padding-bottom: 0;
  background-color: rgb(70, 80, 100, 0.6);
  border-radius: 5px;
}

input.social-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1; /* Firefox */
}

.col-width-40px {
  flex: 0 0 40px;
}

.overflow-scroll {
  overflow: scroll;
}

.video-container {
  width: 100%;
  position: relative;
}

.mg-0 {
  margin: 0;
}

.video-container-outer {
  padding: 20px;
}

.video-recorder-container-outer {
  padding: 20px;
  padding-top: 0;
}

.relative {
  position: relative;
}

.cld-video-player {
  position: absolute;
  top: 20px;
  padding-top: 56.25%;
}

.cld-video-recorder {
  position: absolute;
  left: 0;
  width: 100%;
  padding-top: 0;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: rgba(14, 47, 90);
}

.checkbox-flex {
  display: flex;
  align-items: center;
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
}

.video-container > div{
  padding-top: 56.25% !important;
}

.loader-container{
  height: 100px;
}